
/* SCSS HEX */
$casablanca: #f7b240;
$governor-bay: #4435a8;
$envy: #94a392;
$cod-gray: #0a070a;
$amaranth: #e92458;
$parchment: #eee1cc;
$cannon-pink: #83455d;
$rhino: #2b3268;
$cabbage-pont: #434a3c;
$charm: #d5718b;
$purple-black: rgb(76, 0, 99);
$extreme-dark: rgb(35, 0, 46);


/* SCSS RGB */
/*--casablanca: rgba(247,178,64,1);
--governor-bay: rgba(68,53,168,1);
--envy: rgba(148,163,146,1);
--cod-gray: rgba(10,7,10,1);
--amaranth: rgba(233,36,88,1);
--parchment: rgba(238,225,204,1);
--cannon-pink: rgba(131,69,93,1);
--rhino: rgba(43,50,104,1);
--cabbage-pont: rgba(67,74,60,1);
--charm: rgba(213,113,139,1);*/

/* CSS HEX */
/*--casablanca: #f7b240;
--governor-bay: #4435a8;
--envy: #94a392;
--cod-gray: #0a070a;
--amaranth: #e92458;
--parchment: #eee1cc;
--cannon-pink: #83455d;
--rhino: #2b3268;
--cabbage-pont: #434a3c;
--charm: #d5718b;*/


