//Cores
$casablanca: #f7b240;
$governor-bay: #4435a8;
$envy: #94a392;
$cod-gray: #0a070a;
$amaranth: #e92458;
$parchment: #eee1cc;
$cannon-pink: #83455d;
$rhino: #2b3268;
$cabbage-pont: #434a3c;
$charm: #d5718b;
$purple-black: rgb(76, 0, 99);
$extreme-dark: rgb(35, 0, 46);
$marquin-viado: rgb(2, 2, 66);
$marsala: #B57170;
$vinho: #800000;



